@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
     <h1 class="display-4">
        Welcome <i class="fa-solid fa-hand-holding-heart fs-1 h1 text-danger"></i> <i class="fa-solid fa-hands fs-1 h1 text text-warning"></i> ASP.Net
    </h1> 
   
</div>
