 @model EmployeeViewModel
@{
    ViewData["Title"] = "Create";
    ViewBag.Action = "Create";
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm border-primary">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">Create New Employee</h3>
                </div>
                <div class="card-body bg-light">
                     <partial name="Partial/CreatedEditEmployeePartial" /> 
                                  </div>
            </div>
        </div>
    </div>
</div>

@section ValidationScripts {
    <partial name="_ValidationScriptsPartial" />
}
