@model DepartmentViewModel
@{
    ViewData["Title"] = "Edit";
    ViewBag.Action = "Edit";
}

<div class="row justify-content-center align-items-center flex-column">
    <h1 class="col-6 my-3">Edit Department</h1>
    <partial name="Partial/CreatedEditDepartmentPartial" />
</div>

@section ValidationScripts {
  
    <partial name="_ValidationScriptsPartial" />

}
